body{
    background-color: black;
    color: #ffffff;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    position: fixed;
    bottom: 20px;
}

p{
    transform: translateY(150%);
    font-size: 20px;
}

img{
    width: 50px;
    background-color: #ffffff;
    border-radius: 50px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#name{
    padding: 10px;
    margin: 0px 5px 0px 5px;
}